/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
}

#mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
}

#mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    padding: 0.75rem 0;
    transition: color 0.2s ease;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: #5ac8fa;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #5ac8fa !important;
}

.login_btn {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    background: #fff;
    border: 2px solid #5ac8fa;
    border-radius: 50px;
    padding: 10px 40px;
    transition: .5s;
    margin-right: 10px;
}

.register_btn {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #5ac8fa;
    border: 2px solid #5ac8fa;
    border-radius: 50px;
    padding: 10px 40px;
    transition: .5s;
}

.login_btn:hover {
    background: #5ac8fa;
    color: #fff;
}

.register_btn:hover {
    background: #fff;
    color: #212529;
}

@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav.navbar-scrolled {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }

    #mainNav.navbar-scrolled .navbar-brand {
        color: #212529;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: #212529;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover,
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:active {
        color: #5ac8fa;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link.active {
        color: #5ac8fa !important;
    }

    #mainNav .navbar-brand {
        color: #fff;
        padding: 0.5rem 0;
    }

    #mainNav .navbar-brand:hover,
    #mainNav .navbar-brand:active {
        color: #5ac8fa;
    }

    #mainNav .navbar-nav {
        margin-top: 0;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    background: linear-gradient(178deg, #5ac8fa 0%, #57d79f 100%);
    padding: 250px 0 100px;
}

.hero h6 {
    color: #fff;
    font-weight: 300;
    font-size: 1.8rem;
}

.hero h5 {
    color: #fff;
    font-weight: 600;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.stat_hero {
    display: flex;
    margin-bottom: 40px;
}

.stat_hero .block_stat {
    display: flex;
    margin-right: 60px;
}

.stat_hero .block_stat:last-child {
    margin-right: 0;
}

.stat_hero .block_stat img {
    margin-right: 10px;
}

.stat_hero .block_stat h4 {
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.stat_hero .block_stat span {
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
}

.hero p {
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.start_btn {
    color: #212529;
    background: #fff;
    border: 2px solid #fff;
    padding: 15px 60px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: .5s;
}

.start_btn:hover {
    background: transparent;
    color: #fff;
}

.image_hero img {
    width: 110%;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #212529;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #5ac8fa;
    opacity: 1;
}

hr.light {
    border-color: #fff;
}

a {
    color: #5ac8fa;
    transition: 0.2s;
    text-decoration: none;
}

a:hover {
    color: #5ac8fa;
    text-decoration: none;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3rem;
}

.page-section {
    padding: 5rem 0;
}

.page-section h2.title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 600;
}

.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
    text-transform: none;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    section {
        padding: 8rem 0;
    }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
    padding-top: 100px;
}

.discover {
    text-align: right;
    margin-bottom: 80px;
}

.discover_link {
    background: #5ac8fa;
    padding: 10px 40px 10px 20px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    transition: .5s;
}

.discover_link:hover {
    color: #fff;
    padding: 10px 20px 10px 40px;
}

.discover_link img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}

.discover_link:hover img {
    right: 15px;
  }
/*--------------------------------------------------------------
# About (Continued)
--------------------------------------------------------------*/
.about_content h6 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.about_content h5 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.block_about {
    margin-bottom: 30px;
}

.block_about img {
    margin-bottom: 20px;
}

.block_about h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.block_about p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #6c757d;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing {
    padding-top: 100px;
    background: #f8f9fa;
}

.subtitle {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #5ac8fa;
    display: block;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.desc_sec {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #6c757d;
    margin-bottom: 50px;
}

.price_table {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
}

.table>:not(caption)>*>* {
    padding: 1.5rem 1rem;
}

.table .img_th {
    width: 150px;
}

.popular {
    display: block;
    text-align: center;
    background: #5ac8fa;
    color: #fff;
    border-radius: 50px;
    padding: 5px 20px;
    width: 180px;
    margin: 0 auto 20px;
}

.price_table h6 {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.price_table h5 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.price_table h5 span {
    font-size: 1rem;
}

.price_table p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #6c757d;
    text-align: center;
    margin-bottom: 20px;
}

.purchase_btn {
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background: #5ac8fa;
    color: #fff;
    border: 2px solid #5ac8fa;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: .5s;
}

.purchase_btn:hover {
    background: transparent;
    color: #5ac8fa;
}

.name_label {
    display: block;
    text-align: left;
    background: #5ac8fa;
    color: #fff;
    border-radius: 50px;
    padding: 5px 20px;
    width: 150px;
    margin-bottom: 20px;
}

.name_label_center {
    text-align: center;
    width: auto;
}

.table-bordered>:not(caption)>* {
    border-width: 2px;
}

.table-bordered>:not(caption)>*>* {
    border-width: 2px;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #5ac8fa;
}
